PRIVATE_KEY=
HOOK_OWNER=

# X Layer mainnet has official Uniswap v4 deployments.
POOL_MANAGER=0x360E68facCca8cA495c1B759Fd9EEe466db9FB32
DEPLOY_POOL_MANAGER=false

# Use sorted token addresses: token0 < token1.
TOKEN0=
TOKEN1=

TICK_SPACING=60
SQRT_PRICE_X96=79228162514264337593543950336
INITIALIZE_POOL=true
SALT_START=0

XLAYER_RPC_URL=https://rpc.xlayer.tech
XLAYER_TESTNET_RPC_URL=https://testrpc.xlayer.tech/terigon
OKLINK_API_KEY=
